<div class="page-header">
  <h2>
    Database File Upload
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Instructions:
      <ol>
        <li>Open ...</li>
        <li>Find ...</li>
        <li>Click this button <span class="glyphicon glyphicon-arrow-right"></span> <%= link_to 'Upload', '#', class: 'btn btn-primary' %></li>
      </ol>
    </p>
  </div>
</div>

